body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
body2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
bodyp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
svg {
    width: 80%;
    max-width: 600px;
    color: #0679bb; 
}
#container1 {
  width: 400px;
  height: 600px;
  border: 2px solid #a76969;
  border-radius: 10px;
  overflow: hidden;
  background: #000000;
  order: 1;
}

#container2 {
  width: 400px;
  height: 600px;
  border: 2px solid #a76969;
  border-radius: 10px;
  overflow: hidden;
  background: #000000;
  order: 3;
}
#container3 {
  width: 400px;
  height: 600px;
  border: 2px solid #a76969;
  border-radius: 10px;
  overflow: hidden;
  background: #000000;
  order: 2;
}
#grad { 
  width: 1200px;
  order: 0;
}
